@import 'react-responsive-modal/styles.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#app body {
  overflow-y: auto !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.noPageFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 3vw;
}

/* new css */
