.table {
  margin-right: 3em;
  width: 100%;
}

.tableHeading {
  height: 3em;
  border-bottom: 2px solid;
  border-color: gray;
  align-items: center;
  justify-content: center;
}

.tableHeading1 {
  height: 3em;
  padding-left: 1.5em;
  border-bottom: 2px solid;
  border-color: gray;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
}

.tableBody {
  align-items: center;
  justify-content: center;
}

.tableData {
  border-bottom: 2px solid;
  height: 2.5em;
  border-color: gray;
  align-items: center;
  justify-content: center;
  padding-left: 1em;
}

.tableData1 {
  border-bottom: 2px solid;
  height: 3em;
  padding-left: 1.5em;
  border-color: gray;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .table {
    display: flex;
    flex-direction: row;
    font-size : .6em;
  }

  .tableHeading {
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top : 2em;
    padding-bottom : 2em;
  }

  .tableHeading1 {
    width: 205%;
    height: 4.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 4em;
    margin-left: -3.5em;
  }

  .tableData {
    height: 3em;
    display: flex;
    text-align : center;
    align-items: center;
    justify-content: center;
    padding-top : 2em;
    padding-bottom : 2em;
  }

  .tableData1 {
    width: 100%;
    height: 4.5em;
    display: flex;
    margin-left: .5em;
    text-align : center;
    align-items: center;
    justify-content: center;
  }

  .tableBody {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 501px) and (max-width: 820px) {
  .table {
    display: flex;
    flex-direction: row;
  }

  .tableHeading {
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .tableHeading1 {
    width: 205%;
    height: 4.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 4em;
    margin-left: -3.5em;
  }

  .tableData {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tableData1 {
    width: 100%;
    height: 4.5em;
    display: flex;
    margin-left: 1em;
    align-items: center;
    justify-content: center;
  }

  .tableBody {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
