.content {
  display: flex;
  flex-direction: row;
  padding-left: 1.7em;
}

.IconCall {
  margin-left: 0.3em;
  padding-right: 0.1em;
  margin-top: 0.3em;
}

.Heading {
  margin-bottom: 3em;
}

.date {
  display: flex;
  flex-direction: row;
  width: 130%;
  margin-top: -2em;
  margin-left: 11em;
}

.Text {
  background: orange;
  width: 2%;
  border-radius: 5px;
  text-align: center;
  margin-right: 0.2em;
}

.Text1 {
  background: orange;
  width: 2%;
  border-radius: 5px;
  text-align: center;
  margin-right: 0.2em;
}

.HeadingCall {
  margin-left: 4.5em;
  margin-top: -2.7em;
}

.IconArrow {
  padding-left: 0.5em;
  padding-top: 1em;
  padding-right: 0.5em;
}

@media screen and (max-width: 500px) {
  .content {
    width: 100%;
    padding-top: 2em;
    margin-right: 1.1em;
  }

  .IconCall {
    margin-top: 0.3em;
    width: 15%;
  }

  .Heading {
    margin-left: -0.5em;
    margin-top: -6.3em;
    font-size: 0.8em;
  }

  .Text {
    margin-right: 0.5em;
    padding-right: 2.5em;
    padding-left: 1em;
    margin-bottom: 1.2em;
  }

  .Text1 {
    margin-right: 0.5em;
    padding-right: 1.2em;
    padding-left: 1em;
    margin-bottom: 1.2em;
  }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
  .Heading {
    margin-top: -3em;
  }

  .date {
    font-size: 1em;
  }

  .Text {
    padding-right: 2em;
    margin-left: -1.6em;
    padding-left: 0.7em;
  }

  .Text1 {
    padding-right: 0.9em;
    padding-left: 0.9em;
    text-align: center;
  }
}
