
.container2 {
    flex: 1;
    background: #cccccc;
    height: 75em;
    width: 96%;
    margin-right: 2em;
    margin-left: 2.1em;
    border-radius: 10px;
  }

.MainContent {
    padding: 2em;
    margin-top: 2em;
  }
  
  .Icon {
    padding-left : 1em;
    width : 20%;
  }
  .Local {
    padding-left: 8em;
    margin-top: -2.5em;
    font-size : 3em;
  }

  .LocalPara {
    padding-left: 0.5em;
    color: white;
    padding-top: 0.5em;
  }
  
  .LocalUrlDiv {
    background-color: gray;
    height: 3em;
    width: 22%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1em;
    margin-left: 79%;
  }
  .LocalUrl {
    font-size: 1em;
    font-family: arial;
    padding-right: 1.5em;
  }

  .LocalParaDiv {
    background-color: darkorange;
    width: 22%;
    height: 2.5em;
    margin-left: 16em;
    border-radius: 5px;
  }

  @media(max-width : 500px){
 .container2 {
    width: 94%;
    height: 110em;
    margin-left: 0.8em;
    margin-right: 1em;
    margin-bottom: 10px;
  }

  .Local{
    margin-top : -2.7em;
     margin-left : -4.5em;  
     font-size : 3em;
   }

   .Icon{
     width : 35%;
     margin-left: -0.7em;
   }

  .LocalParaDiv {
    margin-left: 2em;
    margin-right : 2em;
    width:  auto; 
    align-items : center;
  }
  .LocalPara {
    padding-top: 1px;
    overflow-wrap: anywhere;
  }


  .LocalUrlDiv {
    margin-left: 55%;
    width: 50%;
    overflow-wrap: anywhere;
  }

  .LocalUrl {
    overflow-wrap: anywhere;
  }

  }